@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Crimson+Text&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: lightgray;
}

#header {
    font-family: 'Crimson Text';
    font-weight: bolder;
    text-align: center;
    font-size: 3rem;
}

.game-container{
    width: 80%;
    max-width: 550px;
    height: 400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    position: relative;
}

.cell {
    border: 5px solid black;
    flex-basis: 33.3333333333%;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 136px;
}

.cell[data-id = "00"] {
    border-top: none;
    border-left: none;
}
.cell[data-id = "01"] {
    border-top: none;
}
.cell[data-id = "02"] {
    border-top: none;
    border-right: none;
}
.cell[data-id = "10"] {
    border-left: none;
}
.cell[data-id = "20"] {
    border-left: none;
    border-bottom: none;
}
.cell[data-id = "21"] {
    border-bottom: none;
}
.cell[data-id = "22"] {
    border-bottom: none;
    border-right: none;
}
.cell[data-id = "12"] {
    border-right: none;
}

.menu {
    display: flex;
    justify-content: space-around;
    width: 500px;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;
}

.btn {
    padding: 0.8rem 1rem;
    border: none;
    font-family: monospace;
    font-weight: bold;   
}

.btn:hover {
    cursor: pointer;
    background: grey;
    color : white;
}

.popup {
    position: absolute;
    background: coral;
    border: 2px solid black;
    top: 40%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) scale(0);
    padding: 1rem;
    border-radius: 5px;
    background: rgb(207, 205, 205);
    transition: 0.5s ease-in transform;
}
.open {
    transform: translateY(-50%) translateX(-50%) scale(1);
}
.form {
    display: flex;
    flex-direction: column;
    height: 200px;
    padding: 1rem;
    justify-content: space-around;
}

.form-header > h2{
    text-align: center;
}
.start-btn {
    align-self: center;
}

input {
    padding: 5px;
    border: none;
    font-family: 'Crimson Text';
    font-size: 1rem;
}

.notice-board {
    border: 2px black solid;
    position: absolute;
    bottom: 50%;
    text-align: center;
    width: 300px;
    height: 200px;
    padding: 1rem;
    font-family: 'monospace';
    left: 10%;
    background:rgb(207, 205, 205)
}

.notice-container {
    margin: 2rem auto;
    background-color: azure;
    max-width: 500px;
    padding: 10px;
}
.notice {
    text-align: center;
    font-family: monospace;
}


.player-score {
    background:rgb(151, 151, 151);
    position: fixed;
    bottom: 0;
    padding: 1rem;
    text-align: center;
    height: 200px;
    width: 200px;
    left: 50px;
    transition: 1s transform ease;
    transform: translateY(100%)
}

.show-score {
    transform: translateY(0);
}

.score-player-1, .score-player-2{
    margin-top: 2rem;
    font-size: 2.5rem;
}

.player-2 {
    left: unset;
    right: 50px;
}