@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: lightgray;
}

#header {
    font-family: 'Crimson Text';
    font-weight: bolder;
    text-align: center;
    font-size: 3rem;
}

.game-container{
    width: 80%;
    max-width: 550px;
    min-height: 450px;
    height: 60vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.cell {
    border: 5px solid black;
    flex-basis: 33.3333333333%;
}

.cell[data-id = "00"] {
    /* border-top: none;
    border-left: none; */
}
.cell[data-id = "01"] {
    border-top: none;
}
.cell[data-id = "02"] {
    border-top: none;
    border-right: none;
}
.cell[data-id = "10"] {
    border-left: none;
}
.cell[data-id = "20"] {
    border-left: none;
    border-bottom: none;
}
.cell[data-id = "21"] {
    border-bottom: none;
}
.cell[data-id = "22"] {
    border-bottom: none;
    border-right: none;
}
.cell[data-id = "12"] {
    border-right: none;
}

.menu {
    display: flex;
    justify-content: space-around;
    width: 500px;
    margin: auto;
    margin-top: 2rem;
    padding: 1rem;
}

.btn {
    padding: 0.8rem 1rem;
    border: none;
    font-family: monospace;
    font-weight: bold;   
}

.btn:hover {
    cursor: pointer;
    background: grey;
    color : white;
}

.popup {
    position: absolute;
    background: coral;
    border: 2px solid black;
    top: 40%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) scale(0);
    padding: 1rem;
    border-radius: 5px;
    background: rgb(207, 205, 205);
    transition: 0.5s ease-in transform;
}
.open {
    transform: translateY(-50%) translateX(-50%) scale(1);
}
.form {
    display: flex;
    flex-direction: column;
    height: 200px;
    padding: 1rem;
    justify-content: space-around;
}

.form-header > h2{
    text-align: center;
}
.start-btn {
    align-self: center;
}

input {
    padding: 5px;
    border: none;
    font-family: 'Crimson Text'
}

.p1-scoreboard {
    position: absolute;
    left: 3rem;
}
.p2-scoreboard {
    position: absolute;
    right: 3rem;
}

.scoreboard {
    padding: 1rem;
    width: 200px;
    bottom: 40%;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: none;
}

.cell {
    display: flex;
    max-height: 180px;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: monospace;

}